
bugenv/
venv/
__pycache__/
*.pyc
.env


# Django
# Ignore SQLite DB (local dev DB)
db.sqlite3
# Media (user uploads)
media/
# Collected static files
staticfiles/


# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editor directories and files
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pydevproject

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment / secrets
.env
*.env
usernames and passwords.txt

# Compiled extensions
*.so
*.pyd


